html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.5em;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: hsl(267 74% 16% / 1);
}

::-webkit-scrollbar-thumb {
    background: hsl(267 100% 20% / 1);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(267 100% 10% / 1);
    border-radius: 7px;
}

::-webkit-scrollbar-corner{
    border-radius: 7px;
    background: lightgrey;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Cartoonish_background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 100px;
    display:flex;
    align-items: center;
}

.logo{
    width: 70px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
nav ul li a:hover{
    color:cornflowerblue;
    transition: 0.2s;
}

.row {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin: auto;
}

.col-1 h1{
    color: #fff;
    font-size: 90px;
}
.col-1 p{
    color: #fff;
    font-size: 20px;
    font-weight: 120;
    line-height: 25px;
    margin-bottom: 30px;
}

.buttons a {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    text-align: center;
    width: 200px;
    border:solid 3px mediumpurple;
    color: white;
    padding: 10px 0;
    border-radius: 7px;
    background: rgba(255, 255, 255,0);
    font-size: 20px;
    text-shadow: 1px 1px 1px black, 0 0 1em #0c295c, 0 0 0.2em #0c295c;
    cursor: pointer;
}

.buttons a:hover {
    color:mediumpurple;
    box-shadow: 0 4px 20px 0 rgba(34,68,123,1);
    transition: 0.2s;
}

.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

.col-2 .controller{
    width: 70%;
    height: auto;
    margin: auto;
}

/* Part 1 */

.title-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 10px;
}

.title-1 h2{
    color: #fff;
    font-size: 50px;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(265px,1fr));
    gap: 2rem;
}

.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}

.article-card{
    background: hsl(218 90% 20% / 0.95);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: 0.3s;
}

.article-card:hover {
    box-shadow: 0 4px 20px 0 rgba(34,68,123,1);
    cursor: pointer;
}

.article-content{
    padding: 2rem;
}

.article-content .card-category {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}

.article-content .card-title {
    margin: 1rem 0;
    color: #fff;
}

.article-content .card-excerpt {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}

/* FAQ */

.title-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.title-2 h2{
    color: #fff;
    font-size: 50px;
}

.article-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(265px,1fr));
    gap: 2rem;
}

.article-card-2{
    background: hsl(218 90% 20% / 0.95);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: 0.3s;
}

.article-card-2:hover {
    box-shadow: 0 4px 20px 0 rgba(34,68,123,1);
    cursor: pointer;
}

.article-content-2{
    padding: 2rem;
}

.article-content-2 .card-category-2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}

.article-content-2 .card-title {
    margin: 1rem 0;
    color: #fff;
}

.article-content-2 .card-excerpt {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}

/* After FAQ */

.after-FAQ{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.after-FAQ .after-title h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

.after-FAQ .after-content {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
    border-radius: 7px;
    transition: 0.3s;
    align-content: center;
    text-align: center;
}

.after-content .after-excerpt {
    font-size: 25px;
    line-height: 1.5rem;
    color: #fff;
    margin: 0;
}

/* Social */

.social-links{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
}

.social-links p {
    width: 100px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.footer {
    width: 100%;
    background: hsl(0 0% 100%/0.03);
    color: white;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 850px){
    .container{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Cartoonish_MOBILE.png);
        background-position: center;
        background-size: cover;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;
    }

    nav ul {
        width: 100%;
        background: hsl(267 100% 15% / 0.93);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        margin-top: 12px;
    }

    nav ul li{
        display:block;
        margin: auto;
    }

    nav ul li a{
        color: #fff;
        text-align: center;
    }

    .logo {
        width: 15%;
    }

    .menu-icon{
        width: 8%;
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
        text-align: center;
    }

    .row{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 50px 0;
        align-items: center;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller{
        width: 50%;
    }

    .col-1{
        text-align: center;
        flex-basis: 100%;
        margin-bottom: 100px;
    }
    .col-1 h1{
        font-size: 35px;
    }
    .col-1 p{
        font-size: 15px;
    }
    .buttons button{
        margin-bottom: 10px;
    }

    .title-1 {
        justify-content: center;
    }

    .title-1 h2{
        font-size: 35px;
    }

    .title-2{
        justify-content: center;
    }

    .title-2 h2{
        font-size: 35px;
    }
}